body {	
	width: 1000px;
	height: 500px;
	padding: 0px;
	margin: 0px;
}

#map {
	position: fixed;
	top: 0px;
	left: 0px;
	height:400px;
	width: 600px;
}

#info {
	position: fixed;
	left: 610px;
	top: 0px;
	width: 385px;
	font-size: 15px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: justify;
}

#info h2 {
	font-size: 20px;
	margin: 0px;
	padding-top:10px;
	text-align: left;
}